/* Reseta margens e padding para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
}

.navegador {
    display: flex;
    justify-content: center; /* Centraliza conteúdo horizontalmente */
    align-items: center; /* Centraliza conteúdo verticalmente */
    background-color: #000; /* Fundo preto */
    padding: 10px 0;
    position: relative;
    width: 100%;
    transition: background-color 0.3s ease; /* Efeito de transição para mudança de fundo */
}

/* Logo */
.logo {
    flex-shrink: 0; /* Impede que a logo encolha */
    margin-right: 20px; /* Espaço à direita da logo */
}

.logo img {
    width: 125px; /* Tamanho da logo */
    transition: transform 0.3s ease; /* Efeito de zoom na logo */
}

.logo img:hover {
    transform: scale(1.1); /* Aumenta a logo ao passar o mouse */
}

/* Menu de navegação */
nav {
    display: flex;
    align-items: center; /* Centraliza os itens de navegação verticalmente */
}

#MenuItens {
    display: flex;
    list-style-type: none;
    justify-content: center; /* Centraliza os itens do menu */
    margin: 0 20px; /* Espaço lateral entre o menu e o carrinho */
}

#MenuItens li {
    margin: 0 15px; /* Espaço entre os itens do menu */
    position: relative; /* Para posicionar o efeito de linha embaixo */
}

#MenuItens a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    position: relative; /* Para posicionar o efeito de linha embaixo */
    transition: color 0.3s ease; /* Transição suave para a cor do texto */
}

#MenuItens a:hover {
    color: #2006a1; /* Muda a cor do texto ao passar o mouse */
}

/* Efeito de linha abaixo dos itens do menu */

#MenuItens li:hover::after {
    width: 100%;
    left: 0; /* Expande a linha quando o item é hover */
}

/* Carrinho de compras */
#carrinho {
    position: absolute;
    right: 20px; /* Fixa o carrinho no canto superior direito */
    top: 10px; /* Distância do topo */
    transition: transform 0.3s ease; /* Transição suave no carrinho */
}

#carrinho:hover {
    transform: scale(1.2); /* Aumenta o carrinho ao passar o mouse */
}

/* Ajustando o espaçamento entre os itens do menu */
nav a {
    margin-left: 70px; /* Espaço entre os itens do menu */
}


